<%= render "shared/error_messages", model: @item %>
<div class="container-fluid g-0 bg-white">
  <div class="d-flex">
    <%= render 'management/shared/sidebar' %>
    <div class="management-main p-4 bg-body-secondary">
      <h2 class="d-inline-block px-4 py-2 mb-3 rounded-2 bg-white">アイテム登録</h2>
      <%= render 'management/shared/back_link' %>
      <%= form_with model: @item, url: management_items_path, class: "col-xl-6 col-md-8 p-md-5 p-4 mx-auto mb-5 rounded-3 bg-white", local: true do |f| %>
        <h2 class="mb-4">登録情報の入力</h2>
        <div class="field form-floating mb-3">
          <%= f.number_field :user_id, autofocus: true, autocomplete: "off", placeholder: "1", class: "form-control #{"is-invalid" if f.object.errors[:user].present?}" %>
          <%= f.label :user_id do %>
            <i class="fas fa-id-card"></i>&ensp;親ユーザーID
          <% end %>
        </div>

        <%= f.collection_select :category_id, @categories, :id, :name, {prompt: "カテゴリーを選択"}, {class: "form-select form-select-lg mb-3 #{"is-invalid" if f.object.errors[:category].present?}"} %>

        <div class="field form-floating mb-3">
          <%= f.text_field :name, autocomplete: "off", placeholder: "アイテム", class: "form-control #{"is-invalid" if f.object.errors[:name].present?}" %>
          <%= f.label :name do %>
            <i class="fas fa-apple-whole"></i>&ensp;アイテム名
          <% end %>
        </div>

        <div class="field form-floating mb-5">
          <%= f.text_field :hiragana, autocomplete: "off", placeholder: "ひらがな", class: "form-control #{"is-invalid" if f.object.errors[:hiragana].present?}" %>
          <%= f.label :hiragana do %>
            <i class="far fa-comment-dots"></i>&ensp;ひらがな（アイテム名）
          <% end %>
        </div>

        <div>
          <%= f.submit "登録", class: "w-100 btn btn-lg btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
