<div class="container-fluid g-0 bg-white">
  <%= render "management/shared/caution" %>
  <div class="d-flex">
    <%= render "management/shared/sidebar" %>
    <div class="management-main p-4 bg-body-secondary">
      <div class="management-header d-flex justify-content-between mb-3">
        <div class="d-flex align-items-end">
          <h2 class="d-inline-block px-4 py-2 me-5 mb-0 rounded-2 bg-white">お買い物管理</h2>
          <%= search_form_for @q, url: management_shopping_records_path, method: :get, class: "d-flex align-items-end" do |f| %>
            <%= f.search_field :user_id_eq, placeholder: "User_ID", class: "management-search-id px-2 me-1" %>
            <%= f.search_field :title_cont, placeholder: "Title 部分一致", class: "management-search-email px-2 me-2" %>

            <%= f.submit class: "btn btn-dark me-4" %>
          <% end %>
          <h5 class="px-3 py-2 m-0 rounded-2 bg-white">件数： <%= @pagy.count %> 件</h5>
        </div>
      </div>
      <div class="table-scroll">
        <table class="management-table rounded-2 bg-white">
          <thead>
            <tr>
              <th><%= sort_link(@q, :id, "ID", class: "link-text") %></th>
              <th><%= sort_link(@q, :user_id, [:user_id, "id asc"], "User_ID", class: "link-text") %></th>
              <th><%= sort_link(@q, :title, [:title, "id asc"], "Title", class: "link-text") %></th>
              <th><%= sort_link(@q, :closed, [:closed, "id asc"], "Closed", class: "link-text") %></th>
              <%# shopping_locationのidの有無でソートする %>
              <th><%= sort_link(@q, :shopping_location_id, [:shopping_location_id, "id asc"], "Map（child table present?）", class: "link-text") %></th>
              <th><%= sort_link(@q, :created_at, "Created_at", class: "link-text") %></th>
              <th><%= sort_link(@q, :updated_at, "Updated_at", class: "link-text") %></th>
              <th>詳細</th>
              <th>削除</th>
            </tr>
          </thead>
          <tbody>
            <% @shopping_records.each do |shopping_record| %>
              <tr>
                <td><%= shopping_record.id %></td>
                <td><%= shopping_record.user_id %></td>
                <td><%= shopping_record.title %></td>
                <td><%= shopping_record.closed? ? "完了" : "未完了" %></td>
                <td><%= shopping_record.shopping_location.present? ? "登録済み" : "未登録" %></td>
                <td><%= shopping_record.created_at.to_fs(:date_time) %></td>
                <td><%= shopping_record.updated_at.to_fs(:date_time) %></td>
                <td class="text-center">
                  <%= link_to management_shopping_record_path(shopping_record.id) do %>
                    <i class="h5 fas fa-rectangle-list m-0 show-icon"></i>
                  <% end %>
                </td>
                <td class="text-center">
                  <%= button_to management_shopping_record_path(shopping_record.id), method: :delete, form: { data: { turbo_confirm: t(".confirm_to_delete"), turbo_confirm_title: "お買い物（ID: #{shopping_record.id}）の削除", turbo_confirm_submit_text: "削除する", turbo_confirm_button_class: "btn btn-danger" } } do %>
                    <i class="h5 fas fa-trash-can m-0 delete-icon"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <% if @pagy.pages > ConstantsHelper::SINGLE_PAGE %>
        <div class="mt-3 d-flex justify-content-center">
          <%== pagy_nav(@pagy, link_extra: 'class="border bg-white px-2 py-1 rounded link-secondary"') %>
        </div>
      <% end %>
    </div>
  </div>
</div>
