<div class="container-fluid g-0 bg-white">
  <div class="d-flex">
    <%= render 'management/shared/sidebar' %>
    <div class="management-main p-4 bg-body-secondary">
      <div class="d-flex justify-content-between mb-3">
        <h2 class="d-inline-block px-4 py-2 mb-0 rounded-2 bg-white">ユーザー管理</h2>
        <div class="d-flex align-items-end">
          <%= link_to new_management_user_path, class: "btn btn-primary" do %>
            <i class="fas fa-user-plus m-0"></i>&ensp;登録
          <% end %>
        </div>
      </div>
      <div class="table-scroll">
        <table class="management-table rounded-2 bg-white">
          <thead>
            <tr>
              <th>ID</th>
              <th>Admin</th>
              <th>Email</th>
              <th>Name</th>
              <th>Hiragana</th>
              <th>Confirmed_at</th>
              <th>Created_at</th>
              <th>Updated_at</th>
              <th>編集</th>
              <th>削除</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.id %></td>
                <td><%= user.admin? ? "管理者" : "一般" %></td>
                <td><%= user.email %></td>
                <td><%= user.name %></td>
                <td><%= user.hiragana_view === true ? "ON" : "OFF" %></td>
                <td><%= user.confirmed_at.present? ? user.confirmed_at.to_fs(:date_time) : "未認証" %></td>
                <td><%= user.created_at.to_fs(:date_time) %></td>
                <td><%= user.updated_at.to_fs(:date_time) %></td>
                <td class="text-center">
                  <%= link_to edit_management_user_path(user.id) do %>
                    <i class="h5 fas fa-pencil m-0 edit-icon"></i>
                  <% end %>
                </td>
                <td class="text-center">
                  <% if user != @master_admin_user %>
                    <%= button_to management_user_path(user.id), method: :delete, form: { data: { turbo_confirm: t('.confirm_to_delete'), turbo_confirm_title: "ユーザー（#{user.email}）の削除", turbo_confirm_submit_text: "削除する", turbo_confirm_button_class: 'btn btn-danger' } } do %>
                      <i class="h5 fas fa-trash-can m-0 delete-icon"></i>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <% if @pagy.pages > Management::UsersController::SINGLE_PAGE %>
        <div class="mt-3 d-flex justify-content-center">
          <%== pagy_nav(@pagy, link_extra: 'class="border bg-white px-2 py-1 rounded link-secondary"') %>
        </div>
      <% end %>
    </div>
  </div>
</div>
