<div class="container-fluid g-0 bg-white">
  <%= render 'management/shared/caution' %>
  <div class="d-flex">
    <%= render 'management/shared/sidebar' %>
    <div class="management-main p-4 bg-body-secondary">
      <div class="management-header d-flex justify-content-between mb-3">
        <div class="d-flex align-items-end me-3">
          <h2 class="d-inline-block px-4 py-2 me-5 mb-0 rounded-2 bg-white">ユーザー管理</h2>
          <%= search_form_for @q, url: management_users_path, method: :get, class: "d-flex align-items-end" do |f| %>
            <%= f.search_field :name_or_email_cont, placeholder: "Email または Name 部分一致", class: "management-search-field px-2 me-2" %>

            <%= f.submit class: "btn btn-dark me-4" %>
          <% end %>
          <h5 class="px-3 py-2 m-0 rounded-2 bg-white">件数： <%= @pagy.count %> 件</h5>
        </div>
        <div class="d-flex align-items-end">
          <%= link_to new_management_user_path, class: "btn btn-primary" do %>
            <i class="fas fa-user-plus m-0"></i>&ensp;登録
          <% end %>
        </div>
      </div>
      <div class="table-scroll">
        <table class="management-table rounded-2 bg-white">
          <thead>
            <tr>
              <th><%= sort_link(@q, :id, "ID", class: "link-text") %></th>
              <th><%= sort_link(@q, :admin, "Admin", class: "link-text") %></th>
              <th><%= sort_link(@q, :email, "Email", class: "link-text") %></th>
              <th><%= sort_link(@q, :name, "Name", class: "link-text") %></th>
              <th><%= sort_link(@q, :hiragana_view, "Hiragana Mode", class: "link-text") %></th>
              <th><%= sort_link(@q, :confirmed_at, "Confirmed_at", class: "link-text") %></th>
              <th><%= sort_link(@q, :created_at, "Created_at", class: "link-text") %></th>
              <th><%= sort_link(@q, :updated_at, "Updated_at", class: "link-text") %></th>
              <th>編集</th>
              <th>削除</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.id %></td>
                <td><%= user.admin? ? "管理者" : "一般" %></td>
                <td><%= user.email %></td>
                <td><%= user.name %></td>
                <td><%= user.hiragana_view === true ? "ON" : "OFF" %></td>
                <td><%= user.confirmed_at.present? ? user.confirmed_at.to_fs(:date_time) : "未認証" %></td>
                <td><%= user.created_at.to_fs(:date_time) %></td>
                <td><%= user.updated_at.to_fs(:date_time) %></td>
                <td class="text-center">
                  <%= link_to edit_management_user_path(user.id) do %>
                    <i class="h5 fas fa-pencil m-0 edit-icon"></i>
                  <% end %>
                </td>
                <td class="text-center">
                  <% if user != @master_admin_user %>
                    <%= button_to management_user_path(user.id), method: :delete, form: { data: { turbo_confirm: t('.confirm_to_delete'), turbo_confirm_title: "ユーザー（#{user.email}）の削除", turbo_confirm_submit_text: "削除する", turbo_confirm_button_class: 'btn btn-danger' } } do %>
                      <i class="h5 fas fa-trash-can m-0 delete-icon"></i>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <% if @pagy.pages > ConstantsHelper::SINGLE_PAGE %>
        <div class="mt-3 d-flex justify-content-center">
          <%== pagy_nav(@pagy, link_extra: 'class="border bg-white px-2 py-1 rounded link-secondary"') %>
        </div>
      <% end %>
    </div>
  </div>
</div>
