<% #provide(:page_title, "TOP") %>
<section class="container-fluid">
  <div class="row justify-content-center align-items-center p-md-5 px-3 pb-4 gap-lg-5 introduction">
    <div class="col-lg-4 p-lg-0 pt-md-0 py-5 d-sm-block d-none top-logo">
      <%= image_tag "logo/logo.png", class: "img-fluid", alt: "サービスロゴ" %>
    </div>
    <div class="col py-4 d-sm-none d-block top-logo">
      <%= image_tag "logo/logo-sm.png", class: "img-fluid", alt: "サービスロゴ_モバイル版" %>
    </div>
    <div class="col-lg-7 p-sm-5 p-4 rounded-5 bg-body">
      <h1><span>こんにちは！</span><span>おかメchan へようこそ！</span></h1>
      <br>
      <h4>
        <span>おかメchanは</span><span>お買い物する時に</span>
        <span>買うものや買ったものを</span><span>忘れないようメモできる</span><span>買い物お助けサービスです。</span>
      </h4>
      <br>
      <h6 class=text-center>▼ 使ってみたい方はコチラから ▼</h6>
      <div class="text-center">
        <%= link_to 'ユーザー登録する！', new_user_registration_path, class: "col-sm-10 col-12 btn btn-lg btn-primary"%>
      </div>
    </div>
  </div>
  <div class="col-lg-7 mx-lg-auto mx-md-5 mx-2 mb-5">
    <div class="px-sm-5 px-4 py-3 m-auto arrow_box_bottom_left">
      <h2 class="mb-3"><span>おかメchan は</span><span>こんなヒトにオススメ！</span></h2>
      <div class="ps-sm-3 ps-1">
        <ul class="h4 list-unstyled ul-recommend">
          <li><span>買い物の買い忘れを</span><span>なくしたい</span></li>
          <li><span>まえに買ったものを</span><span>思い出したい</span></li>
          <li><span>買い物した場所を</span><span>思い出したい</span></li>
        </ul>
      </div>
    </div>
    <div class="offset-sm-1 col-sm-3 okame-picture">
      <%= image_tag "cockatiel/okame_reverse.png", class: "img-fluid", alt: "オカメインコ_イラスト" %>
    </div>
  </div>
</section>
<section class="container-fluid py-5 bg-body">
  <div class="row justify-content-center pb-3">
    <div class="col text-center">
      <h2>ー おかメchanの使い方 ー</h2>
    </div>
  </div>
  <div class="row justify-content-center p-sm-4 py-4 px-3 mx-lg-5 mx-2 mb-5 rounded-5 instructions-1">
    <div class="col-12 mb-3 text-center">
      <h3>① お買い物登録する</h3>
    </div>
    <div class="col-md-4 mb-md-0 mb-3">
      <h5>お買い物登録を押す</h5>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
        <img src="..." class="card-img-bottom" alt="...">
      </div>
    </div>
    <div class="col-md-4 mb-md-0 mb-3">
      <h5>買いたいものをチェック</h5>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
        <img src="..." class="card-img-bottom" alt="...">
      </div>
    </div>
    <div class="col-md-4 mb-md-0 mb-3">
      <h5>登録ボタンを押す</h5>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
        <img src="..." class="card-img-bottom" alt="...">
      </div>
    </div>
  </div>
  <div class="row justify-content-center p-sm-4 py-4 px-3 mx-lg-5 mx-2 mb-5 rounded-5 instructions-2">
    <div class="col-12 mb-3 text-center">
      <h3>② お買い物モードにする</h3>
    </div>
    <div class="col-md-4 mb-md-0 mb-3">
      <h5>お買い物モードを押す</h5>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
        <img src="..." class="card-img-bottom" alt="...">
      </div>
    </div>
    <div class="col-md-4 mb-md-0 mb-3">
      <h5>登録したお買い物を選ぶ</h5>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
        <img src="..." class="card-img-bottom" alt="...">
      </div>
    </div>
    <div class="col-md-4 mb-md-0 mb-3">
      <h5>お買い物リストが表示される</h5>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
        <img src="..." class="card-img-bottom" alt="...">
      </div>
    </div>
  </div>
  <div class="row justify-content-center p-sm-4 py-4 px-3 mx-lg-5 mx-2 mb-5 rounded-5 instructions-3">
    <div class="col-12 mb-3 text-center">
      <h3>③ お買い物する！</h3>
    </div>
    <div class="col-md-4 mb-md-0 mb-3">
      <h5>リストを見ながらお買い物</h5>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
        <img src="..." class="card-img-bottom" alt="...">
      </div>
    </div>
    <div class="col-md-4 mb-md-0 mb-3">
      <h5>カゴに入れたものをチェック</h5>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
        <img src="..." class="card-img-bottom" alt="...">
      </div>
    </div>
    <div class="col-md-4 mb-md-0 mb-3">
      <h5>終わったらお買い物完了を押す</h5>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
        <img src="..." class="card-img-bottom" alt="...">
      </div>
    </div>
  </div>
  <div class="row justify-content-center p-sm-4 py-4 px-3 mx-lg-5 mx-2 mb-5 rounded-5 instructions-4">
    <div class="col-12 mb-3 text-center">
      <h3>④ お買い物の後には…</h3>
    </div>
    <div class="col-sm mb-md-0 mb-3">
      <h5>買ったものを確認できる！</h5>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
        <img src="..." class="card-img-bottom" alt="...">
      </div>
    </div>
    <div class="col-sm mb-md-0 mb-3">
      <h5>買った場所を確認できる！</h5>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
        <img src="..." class="card-img-bottom" alt="...">
      </div>
    </div>
  </div>
  <div class="mb-md-0 p-sm-4 py-4 px-3 mx-lg-5 mx-2 rounded-5 text-center other-features">
    <h2 class="mb-4">こんな機能もあるよ！</h2>
    <div class="ps-sm-3 ps-1 mx-auto text-start">
      <ul class="h4 list-unstyled ul-other-features">
        <li><span>品物を自分で</span><span>登録できる</span></li>
        <li><span>買い物の結果を</span><span>メールで家族に通知</span></li>
        <li><span>お買い物モードを</span><span>「ひらがな」で表示</span></li>
      </ul>
    </div>
  </div>
</section>
<section class="container-fluid">
  <div class="col-lg-7 pt-5 mx-lg-auto mx-md-5 mx-2 mb-5">
    <div class="px-sm-5 px-4 py-3 m-auto arrow_box_bottom_right">
      <p class="h2"><span>買い忘れが多くて</span><span>大変なヒトは</span><br><span>おかメchan を</span><span>ぜひ使ってみてね！</span></p>
    </div>
    <div class="col-sm-3 me-sm-5 ms-auto okame-picture">
      <%= image_tag "cockatiel/okame.png", class: "img-fluid", alt: "オカメインコ_イラスト" %>
    </div>
  </div>
</section>
