<% provide(:page_title, "通知メール登録") %>
<% provide(:okame_info, "ここではお買い物内容をメールで通知するメールアドレスを３件まで登録できるよ！\n新しく登録するときは「登録」ボタンから、「ゴミ箱」ボタンを押すと登録済みのユーザーを削除できるよ。\n登録した相手がメールアドレス認証してくれるまで通知は届かないから気をつけてね。") %>
<%= render 'shared/navigation' %>
<% provide(:back_link_path, root_path) %>
<% provide(:back_link_text, "メインメニュー にもどる") %>
<%= render 'shared/back_link' %>
<%= render 'shared/page_title' %>
<div class="col-xl-7 col-md-9 col-11 py-4 px-sm-2 px-3 mt-3 mb-5 mx-auto rounded-2 shopping-record-window-bg">
  <div class="col-11 d-sm-flex justify-content-sm-between align-items-sm-center mx-auto mb-4">
    <h2 class="mb-sm-3 mb-4">通知対象ユーザー</h2>
    <div class="text-end">
      <%= link_to new_notification_target_user_path, class: "btn btn-lg btn-primary #{disabled_if_limited(@notification_target_users)}" do %>
        <i class="fas fa-user-plus m-0"></i>&ensp;登録
      <% end %>
    </div>
  </div>
  <% if @notification_target_users.present? %>
    <% @notification_target_users.each do |nt_user| %>
      <div class="col-11 py-3 px-3 mb-4 mx-auto rounded-2 shopping-record-bg">
        <div class="d-sm-flex justify-content-sm-between align-items-sm-center">
          <div class="mb-sm-0 mb-3 text-break">
            <h5 class="mb-3"><%= nt_user.name %></h5>
            <h5 class="mb-1"><%= nt_user.email %></h5>
            <% if nt_user.confirmed? %>
              <div class="email-confirm-ok"><i class="fas fa-circle-check"></i> メールアドレス認証済み</div>
            <% elsif nt_user.expired? %>
              <div class="email-confirm-ng"><i class="fas fa-circle-xmark"></i> 確認メール有効期限切れ</div>
            <% else %>
              <div class="email-confirm-info"><i class="fas fa-circle-exclamation"></i> メールアドレス認証待ち</div>
            <% end %>
          </div>
          <div class="d-flex justify-content-end align-items-center">
            <% if nt_user.expired? %>
              <div class="me-sm-4 me-3">
                <%= link_to resend_email_notification_target_user_path(nt_user.hashid), class: "send-icon text-decoration-none" do %>
                  <i class="h3 far fa-paper-plane m-0"></i>&ensp;確認メール再送信
                <% end %>
              </div>
            <% end %>
            <div>
              <%= button_to notification_target_user_path(nt_user.hashid), method: :delete, form: { data: { turbo_confirm: t('.confirm_to_delete'), turbo_confirm_title: "お買い物の削除", turbo_confirm_submit_text: "削除する", turbo_confirm_button_class: 'btn btn-danger' } } do %>
                <i class="h3 fas fa-trash-can m-0 delete-icon"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="not-added-window d-flex">
      <h3 class="m-auto">メールアドレスは未登録です</h3>
    </div>
  <% end %>
</div>
