<% provide(:page_title, "パスワード再設定") %>
<%= render "users/shared/error_messages", resource: resource %>
<div class="container py-5">
  <%= form_with model: @user, url: user_password_path, id: 'new user', class: "new_user col-xl-6 col-md-8 p-md-5 p-4 mx-auto mb-5 rounded-3 form-bg", local: true do |f| %>
    <h2 class="mb-4">パスワード再設定</h2>
    <div class="field form-floating mb-4">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email@example.com", class: "form-control #{"is-invalid" if f.object.errors[:email].present?}" %>
      <%= f.label :email do %>
        <i class="bi bi-envelope"></i>&nbsp;&thinsp;Eメールアドレス
      <% end %>
    </div>

    <div>
      <%= f.submit "パスワード再設定方法の送信", class: "w-100 btn btn-lg btn-custom-send" %>
    </div>
  <% end %>

  <div class="col-xl-6 col-md-8 p-md-5 p-4 mx-auto rounded-3 form-other-bg">
    <h4 class="mb-4">ログイン・ユーザー登録したい方<br>または他に問題のある方はコチラ</h4>
    <%= render "users/shared/links" %>
  </div>
</div>
