<% provide(:page_title, "ユーザー設定") %>
<% provide(:help_path, "users/registrations/edit_help") %>
<% provide(:okame_info, "ユーザーアカウントの設定を変更できるよ！\nアカウントの削除もここからできるけれど削除するとデータが全部消えちゃうから気をつけてね！") %>
<%= render "users/shared/error_messages", resource: resource %>
<%= render 'shared/navigation' %>
<% provide(:back_link_path, root_path) %>
<% provide(:back_link_text, "メインメニュー にもどる") %>
<%= render 'shared/back_link' %>
<%= render 'shared/page_title' %>
<%= render 'shared/help_modal' %>
<div class="container pb-5">
  <%= form_with model: @user, url: user_registration_path, method: "put", id: 'edit user', class: "edit_user col-xl-6 col-md-8 p-md-5 p-4 mx-auto mb-5 rounded-3 form-bg", local: true do |f| %>
    <h2 class="mb-4">ユーザー情報の編集</h2>
    <div class="field form-floating mb-3">
      <%= f.text_field :name, autocomplete: "off", placeholder: "おかメちゃん", class: "form-control #{"is-invalid" if f.object.errors[:name].present?}" %>
      <%= f.label :name do %>
        <i class="fas fa-user"></i>&ensp;ニックネーム
      <% end %>
      <small class="form-text text-muted"><i class="fas fa-circle-info"></i> ニックネームは最大20文字まで入力できます</small>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div class="mb-1 email-change-info"><i class="fas fa-circle-check"></i> <%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %></div>
    <% end %>

    <div class="field form-floating mb-3">
      <%= f.email_field :email, autocomplete: "email", placeholder: "email@example.com", class: "form-control #{"is-invalid" if f.object.errors[:email].present?}" %>
      <%= f.label :email do %>
        <i class="far fa-envelope"></i>&ensp;Eメールアドレス
      <% end %>
      <small class="form-text text-muted"><i class="fas fa-circle-info"></i> このメールアドレスに確認用のメールが送信されます</small>
    </div>

    <div class="field form-floating mb-3">
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "password", class: "form-control #{"is-invalid" if f.object.errors[:password].present?}" %>
      <%= f.label :password do %>
        <i class="fas fa-lock"></i>&ensp;パスワード
      <% end %>
      <small class="form-text text-muted"><i class="fas fa-circle-info"></i> <%= t('.leave_blank_if_you_don_t_want_to_change_it') %></small>
      <br>
      <% if @minimum_password_length %>
        <small class="form-text text-muted"><i class="fas fa-circle-info"></i> パスワードは<%= @minimum_password_length %> 文字以上で半角の英字と数字を含めてください</small>
      <% end %>
    </div>

    <div class="field form-floating mb-5">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "password", class: "form-control #{"is-invalid" if f.object.errors[:password_confirmation].present?}" %>
      <%= f.label :password_confirmation do %>
        <i class="fas fa-lock"></i>&ensp;パスワード（確認用）
      <% end %>
    </div>

    <div class="mb-5">
      <div class="mb-3">
        <h5 class="mb-1">ひらがなモード</h5>
        <small class="form-text text-muted"><i class="fas fa-circle-info"></i> お買い物関連の機能でアイテム名が平仮名で表示されます</small>
      </div>
      <div class="h5 d-flex justify-content-evenly">
        <div class="form-check">
          <%= f.radio_button :hiragana_view, true, id: "user_hiragana_view_true", class: "form-check-input" %>
          <%= f.label :hiragana_view_true, t('.hiragana_view_true'), class: "form-check-label" %>
        </div>
        <div class="form-check">
          <%= f.radio_button :hiragana_view, false, id: "user_hiragana_view_false", class: "form-check-input" %>
          <%= f.label :hiragana_view_false, t('.hiragana_view_false'), class: "form-check-label" %>
        </div>
      </div>
    </div>

    <div class="field form-floating mb-5">
      <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "password", class: "form-control #{"is-invalid" if f.object.errors[:current_password].present?}" %>
      <%= f.label :current_password do %>
        <i class="fas fa-unlock"></i>&ensp;現在のパスワード
      <% end %>
      <small class="form-text text-muted"><i class="fas fa-circle-info"></i> <%= t('.we_need_your_current_password_to_confirm_your_changes') %></small>
    </div>

    <div>
      <%= f.submit "更新", class: "w-100 btn btn-lg btn-custom-send" %>
    </div>
  <% end %>

  <div class="col-xl-6 col-md-8 p-md-5 p-4 mx-auto rounded-3 form-other-bg">
    <h2 class="mb-4">ユーザーアカウントの削除</h2>
    <div>
      <%= button_to t('.cancel_my_account'), registration_path(resource_name), method: :delete, form: { data: { turbo_confirm: t('.are_you_sure'), turbo_confirm_title: "アカウントの削除", turbo_confirm_submit_text: "削除する", turbo_confirm_button_class: 'btn btn-danger' } }, class: "w-100 btn btn-lg btn-danger" %>
    </div>
  </div>
</div>
